*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.box-card{
    width: 300px;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.title{
    font-size: 2rem;
    color: darkgray;
    text-align: center;
}
.sub-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: lightgray;
    margin-top: 0.5rem;
}
.tag-ul{
    padding: 1rem

}
.tag-ul li{
    list-style-type:none
}
.line{
    width: 5rem;
    height: 2px;
    background-color: #212121;
    margin-bottom: 1rem;
}
.comments{
    margin-top: 1rem;
    margin-bottom: 1rem;

 }
.tasks{
    list-style-type: none;
}
.tasks li{
    margin-bottom: 0.5rem;
}
.task-elements{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-link{
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: darkgray;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    background-color: #143679;


}
.btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
}
.btn{
    padding: 0.5rem 1rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    margin: 0.5rem 0.2rem;
    cursor: pointer;
    background-color: #ddd;
    color: #212121;
    ...customStyle
    ...(disabled && disabledStyle)
}
.btn:disabled{
    background-color: #8c8b8b;
    color: #2c1717;
}
.field{
    padding: 0.5rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    margin: 0.5rem 0.2rem;

}


.top{
    padding: 2rem;
}
.gap{
    margin-top: 1rem;
}